/*!
 * Name: 	Infinity
 * Version: 1.0
 * Updated: 28/05/2015
 * Website:	http://audaindesigns.com
 * Author:	Audain Designs
 * Type:	Style - General
 */
 
  .container{
	background-color:green;
 }
 
 .capturephonecentre{
	     margin-top: 10%;
 }
 
 .sub-title-bottom{
	 color: rgba(255, 255, 255, 0.62)!important;
 }